
.main-content {
  margin-left: 300px;
  transition: margin-left 0.3s;
  
  &.collapsed {
    margin-left: 90px;
  }
}

.sidebar {
  width: 300px;
  transition: width 0.3s;
  height: 100vh;
  position: fixed;
}

.sidebar.collapsed {
  width: 90px;
  i {
    font-size: 1rem * 1.75;
  }
  a.sidebar-link span {
    display: none;
  }
  .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
  }
}

.side-pill-h {
  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}

.sidebar:not(.collapsed) {
  i {
    font-size: 1rem * 1.25;
  }
  a.sidebar-link span {
    display: inline-block;
    margin-left: 10px;
  }
}